* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffebcd, #ffc0cb, #ffffff);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  font-family: 'Caveat', cursive; /* Set Caveat font for the body */
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 20px;
  position: relative;
  overflow: visible;
}

.container .tenor-gif-embed {
  max-width: 200px;
}

.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 10px 25px;
  border-radius: 66px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  transition: transform 0.2s;
  font-family: sans-serif; /* Override Caveat font for buttons */
}

.btn a:hover {
  transform: scale(1.05);
}

p {
  font-family: sans-serif; /* Override Caveat font for paragraphs */
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.heart {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ff69b4;
  transform: rotate(-45deg);
  animation: floatHeart 4s linear infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ff69b4;
  border-radius: 50%;
}

.heart::before {
  top: -15px;
  left: 0;
}

.heart::after {
  left: 15px;
  top: 0;
}

@keyframes floatHeart {
  0% {
      transform: translate(-50%, 0) rotate(-45deg);
      opacity: 1;
  }
  100% {
      transform: translate(-50%, -200px) rotate(-45deg);
      opacity: 0;
  }
}